
<article class="feed">
    <h1>Albums</h1>
    <div class="ui link cards">
      <div class="card" ng-repeat="album in albums" ng-click="listen(album.joinid, 'albums')">
        <div class="image">
          <img ng-src="{{album.images.size996_350}}">
        </div>
        <div class="content">
          <div class="header">{{album.subtitle.en}}</div>
          <div class="meta">
            <a>{{album.title.en}}</a>
          </div>
          <div class="description">
            {{album.text.en}}
          </div>
        </div>
        <div class="extra content">
          <span class="">
            <span>{{album.date_start | amDateFormat:'dddd, MMMM Do YYYY'}}</span>
          </span>
        </div>
      </div>
    </div>
</article>
